
@{
    ViewBag.Title = "ProduktListe";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>ProduktListe</h2>

<div class="row kategori-hvid-boks">
    <table>
        <ul>
            <li></li>
        </ul>
    </table>
</div>