@using RepoNE
@using RepoNE.Models.Viewmodels
@model ProduktListe
@{
    ViewBag.Title = "ProduktListe";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<div class="row kategori-hvid-boks">
    <div class="three columns">
        <h5><strong>DSLR Kamera</strong></h5>
    </div>
    <div class="nine columns">
        <ul>
            @foreach (Produkt p in Model.listProdukt)
            {
                <li class="ProduktNavn">Test</li>
            }
            
        </ul>
    </div>

</div>