@using RepoNE
@using RepoNE.Models.Viewmodels
@model ProduktListe
@{
    ViewBag.Title = "ProduktListe";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<div class="row kategori-hvid-boks">
    <div class="three columns">
        <h5><strong>DSLR Kamera</strong></h5>
    </div>
    <div class="nine columns">
        <table class="produktBorder">
            @foreach (Produkt p in Model.listProdukt)
            {
                <tr>
                    <td colspan="4" class="ProduktNavn"><strong>@p.Navn</strong></td>
                </tr>
                <tr>
                    <td><img src="/Content/images/produkter/@p.Billede" /></td>
                    <td>Lagerantal:@p.Lagerantal <br /> Pris:@p.Pris <br /> Leveringstid:@p.Leveringstid</td>
                    <td>Producent:@p.Producent <br /> &nbsp; <br /> Lager antal:@p.Lagerantal</td>
                    <td>knap</td>
                </tr>
            }


        </table>
    </div>

</div>